@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Roboto:wght@400;700&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --yellow-main:  #F4F3EE;
}

body{
  font-family: 'Outfit', sans-serif;
  font-family: 'Roboto', sans-serif;
}
.container{
  width: 1125px;
  margin: 0 auto;
}
/* Top NavBar starts */
.nav-container{
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.login{
  display: flex;
}
.login button{
  margin-right: 20px;
}
.btn{
  padding: 10px 16px;
  font-size: 16px;
}
.btn-sign{
  width: 120px;
  background-color: #DCDADA;
  border: none;
  cursor: pointer;
}
.cart{
  cursor: pointer;
}
hr{
  width: 200%;
  position: relative;
  left: -50%;
  margin-top: 10px;
}
/* Top NavBar ends */

/* Main NavBar starts */
ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
ul li{
  list-style: none;
}
ul li a{
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}
.active{
  color: red;
}

/* Main NavBar ends */