@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Roboto:wght@400;700&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --yellow-main:  #F4F3EE;
}

body{
  font-family: 'Outfit', sans-serif;
  font-family: 'Roboto', sans-serif;
}